@import "tailwindcss";

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
 
}




:root {
     --font-family-poppins: 'Poppins', 'sans-serif';
    --font-family-maven: "Maven Pro", sans-serif;
    --font-footer: 400 16px/140% var(--font-family-maven);
    --text: 400 1.5rem/1.5 var(--font-family-poppins);

     --text-highlight: #E43A12;
     --surface-secondary: #FEE7D6;
     --text-secondary: #57534E;
     
}

  .font-footer {
    font: var(--font-footer);
    color: #2b2b2b;

    
  }

  
/* CSS FOOTER */

.contatoss {

.redes {
    
display: flex;
align-items: center;
justify-content: center;
gap: 1rem;
background-color: #f4b183;
width: 350px;
height: 40px;
border-radius: 50px;
margin-block: 10px;
         



figure {
     
  
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;

}

}

}
