.gridcate  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffeccf;
display: grid;
grid-template-areas: 
"nav nav " 
"apre apre"
"aside cata"
"aside cata"
"aside cata"
"aside cata"
"footer footer";

grid-template-columns: 2fr 8fr;

 grid-template-rows: auto auto repeat(4, 1fr) auto;
  gap: 10px;
 


.Navc {
  grid-area: nav;
  

}

.apresentacao {
  grid-area: apre;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
  color: #2F5D3F;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
   margin-top: 50px;
  }

  h5 {
    font-size: 20px;
   text-align: center;
    color: #2F5D3F;
    padding-top: 5px;
    padding-bottom: 40px;
  }
}

.asfiltro {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  margin-bottom: 14px;
  
  gap: 50px;
  background-color: #FFCCBC;
  margin-inline: 20px;
  border-radius: 50px;

  h2 {
    align-self: center;
    margin-top: 10px;
    text-transform: uppercase ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#4B3B2A;

  }
  
  ul {
    padding: 8px;
    
  
    li {
       padding-block: 10px;

       label {
        padding-inline: 10px;
         font-family: Georgia, 'Times New Roman', Times, serif;
    color:#4B3B2A;

       }
    }
   
  }

  
  .animais {
    display: flex;
    flex-direction: column;

  }
}

.porte {
    display: flex;
    flex-direction: column;
}

.cidade {
     display: flex;
    flex-direction: column;
}

.idadepesq {
     display: flex;
    flex-direction: column;

    .botao {
      border: solid 1px black;
      border-radius: 20px;
      color: white;
      background-color: #2F5D3F;
      width: 100px;
      height: 35px;
      margin-left: 10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-bottom: 125px;
    }
}

.descricaoani {
grid-area: cata;
margin-right: 40px;
display: flex;
flex-direction: column;
gap: 15px;



.figures {
display: flex;
align-items: center; 
 border: 1px solid #9C27B0;

background-color: #E1BEE7;

 border-radius: 12px;
  
 figcaption {
  margin-block: 12px;
  padding: 2rem;
   p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4B3B2A;
    font-size: 20px;
     margin-block: 7px;

   }

 }


}

}

.footercat {
  grid-area: footer;
}

}