.containerrrfluid {
 
  display: grid;
background-color: #ffeccf;
  grid-template-areas: 
  "nav nav nav"
  "img1 img1 img1"
  "img2 img2 img2"
  "info info info"
  "footer footer footer";


  grid-template-columns: repeat(3, 1fr);
 

  margin: 0;
  padding: 0;
 
     .informacoes {
    grid-area: info;
    margin-inline: 30px;
    margin-bottom: 40px;
    background-color: #fbe2bd;
    position: relative;
     border-radius: 3.125rem;

      &::before {
  content: "";
    position: absolute;
    inset: 0;
    padding: .125rem;
    border-radius: inherit;
    background: linear-gradient(
      45deg, #b77b57 0%, #d9a273 100%);
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: 1;
    pointer-events: none;

 }
   
     h2 {
      text-align: center;
      margin-block: 10px;
      text-transform: uppercase;
      
      
     }

     li {
      padding-bottom: 20px;
     }
   
    
}

  .nave {
grid-area: nav;

  }

  .footerrr {
  
grid-area: footer;

  }

  
.wrapper {
  margin-block: 40px;
  grid-area: 2 / 1 / 4 / 4; 
  display: flex;
  flex-direction: column;
  gap: 1rem;
 background-color: 	#fbe2bd;
 margin-inline: 30px;
 position: relative;
 border-radius: 3.125rem;

 &::before {
  content: "";
    position: absolute;
    inset: 0;
    padding: .125rem;
    border-radius: inherit;
    background: linear-gradient(
      45deg, #b77b57 0%, #d9a273 100%);
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: 1;
    pointer-events: none;

 }

   h1 {
     text-align: center;
     text-transform: uppercase;
     padding-block: 20px;
   }
   

     
    .adms1 {
      margin-top: 30px;
      grid-area: img1;
      display: flex;
      flex-direction: row;
       justify-content: space-around;
    
      
    }

      
    .adms2 {
      grid-area: img2;
       display: grid;
     grid-template-columns: repeat(3, 1fr);
     margin-bottom: 30px;
     margin-top: 0;
     align-items: center;
  
     
    }

    .carde2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

 .carde1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

   }

 
}










